#header {
    text-align: center;
}

.mosaicImg {
    width: 150px;
}

#mosaicWrapper {
    text-align: center;
}

#mosaic {
    display: inline-grid;
    row-gap: 1em;
    grid-template-columns: repeat(6, 1fr);
}

.dateBoundry {
    display: table;
    height: 100%;
    background-color: lightgray;
    padding-left: 2px;
    padding-right: 2px;
}

.dateLabel {
    display: table-cell;
    vertical-align: middle;
}

input.dateTime {
    width: 16ch;
}

div.timeSelector {
    display: inline;
}

button.volcNav {
    width: 12ch;
}