<html>

<head>
    <script src="static/scripts/jquery-3.6.0.min.js" defer></script>
    <script src="static/scripts/jquery.datetimepicker.full.min.js" defer></script>
    <script src="static/scripts/dayjs.min.js" defer></script>
    <script src="static/scripts/dayjs_plugins/utc.js" defer></script>

    <script src="static/scripts/index-1.js" defer></script>

    <link rel="stylesheet" href="static/styles/jquery.datetimepicker.css">
    <link rel="stylesheet" href="static/styles/index-1.css">
</head>

<body>
    <div id="header">
        <input type=text id="startTime" class="dateTime">
        <select id=volcano></select>
        <input type=text id="endTime" class="dateTime">
    </div>

    <div id="mosaicWrapper">
        <div id="mosaic"></div>
    </div>
</body>

</html>